Divisible.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Divisible
bin/Debug/netcoreapp3.1/Divisible.deps.json
bin/Debug/netcoreapp3.1/Divisible.dll
bin/Debug/netcoreapp3.1/Divisible.pdb
bin/Debug/netcoreapp3.1/Divisible.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Divisible.runtimeconfig.json
obj/Divisible.csproj.nuget.dgspec.json
obj/Divisible.csproj.nuget.g.props
obj/Divisible.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Divisible
obj/Debug/netcoreapp3.1/Divisible.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Divisible.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Divisible.assets.cache
obj/Debug/netcoreapp3.1/Divisible.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Divisible.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Divisible.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Divisible.dll
obj/Debug/netcoreapp3.1/Divisible.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Divisible.pdb
